# Default owner for everything in this repo

## Docs: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*       @landerox
